h1
{
    color: #1cb315;
    font-family: 'Baloo Bhai', cursive;
    font-size: ;
}

body
{
    background: url(coffee.jpg) no-repeat fixed center;
    background-size: cover;
}

#beginningCost
{
    color: #b61012;
    font-family: 'Baloo Bhai', cursive;
}
#coffee
{
    color: #fa8f0e;
    font-family: 'Baloo Bhai', cursive;
}

button
{
    background-color: #147dc6;
    font-family: 'Baloo Bhai', cursive;
}

